/* CSS for home page */
#profile-picture{
    border-radius: 50%;
    height: 400px;
}

.logo-margin{
    margin-right: 10px;
}

@media only screen and (max-width: 575px){
    #profile-picture{
        height: 100px;
        margin: auto;    
        display: block;
    }
}